@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600;700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxy{
    width: 50px;
    height: 50px;
    padding: auto;
    margin: auto;
    background-color: crimson;


}

.boxy:hover{
    opacity: 0.5;
    transition-duration: 0.5s;
}

body{
    background-color: #f2d4bc;

}

header{
    height: 110px;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}

.container-grid{
    width: 1400px;
    margin: auto;
}

.topo{
    display: flex;
    justify-content: center;
}

.topo nav{
    width: 1200px;
    
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.menu a{
    text-transform: uppercase;
    color: #585551;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.menu a:hover{
    /* text-decoration: underline; */
    color: #f5f5ef;
}


.banner{
    display: flex;
   justify-content: space-between;
align-items: flex-start;   /* background-color: blue; */
   height: 800px;
}

#imagem1{
    position: relative;
    /* background-color: blue; */
    height: 730px;
    display: flex;
    align-items: center;
    animation: isBouncing 1s ease-in-out alternate infinite;
}
#imagem2{

    position: absolute;
    /* background-color: aquamarine; */
    top: 0;
    right: 10px;
    height: 750px;
    display: flex;
    align-items: center;
}

#imagem1 img{
    width: 550px;
    height: 550px;
}
#imagem2 img{
    width: 560px;
    height: 560px;
    
}



.texto{
    /* background-color: aqua; */
    height: 800px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    /* background-image: url(../assets/img/grafismos/grafismoManchaBrancaPNG.png);
    background-repeat: no-repeat;
    background-size: cover;  */
    /* position: absolute; */
    /* background-color: aqua; */
    
    /* margin-left: -1200px;
    margin-top: 100px; */
    background-image: url(../assets/img/grafismos/grafismoManchaBrancaPNGcerto.png);
    background-repeat: no-repeat;
 
}

.abrigoo{
    /* background-color: aqua; */
    height: 800px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: flex-start;

    /* background-image: url(../assets/img/grafismos/grafismoManchaBrancaPNG.png);
    background-repeat: no-repeat;
    background-size: cover;  */
    /* position: absolute; */
    /* background-color: aqua; */
    
    /* margin-left: -1200px;
    margin-top: 100px; */
    background-image: url(../assets/img/grafismos/grafismoManchaVerdePNG.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 450px 450px;
    /* padding-left: 500px; */
    /* animation: animacaoVerde 5s ; */
    
}




.texto h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #585551;
    
}

.texto h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 150px;
    color: #585551;
}
.texto h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #c7998c;
    font-weight: 500;
    letter-spacing: 2px;
    width: 600px;
    /* background-color: aqua; */
}

.abrigo{
    /* display: block; */
    /* background-color: blueviolet; */
    height: 480px;
    display: flex;
    align-items: flex-end;
}
.aaa{
    /* display: block; */
    /* background-color: wheat; */
    /* height: 500px; */
    display: block;
}



/* .manchaBranca { */
/* position: relative; */
/* background-image: url(../assets/img/grafismos/grafismoManchaBrancaPNG.png);  */
/* height: 600px;
width: 900px; */
/* top: 1px; */
/* background-color: brown;
display: flex; */

/* } */
.manchaBranca img{
/* position: relative; */
/* background-image: url(../assets/img/grafismos/grafismoManchaBrancaPNG.png);  */
height: 700px;
width: 700px;
/* top: 1px; */
/* background-color: brown; */
}

/* .manchaVerde{ */
    /* position: absolute; */
    /* background-color: brown; */
    /* bottom: -200px;
    right: -200px; */
    /* height: 1300px; */
    /* display: flex; */
    /* align-items: center; */
/* } */
.manchaVerde {
    width: 550px;
    height: 550px;
    background-image: url(../assets/img/grafismos/grafismoManchaVerdePNG.png);
    background-size: 550px 550px;
    background-color: aqua;
    
}

.mouse{
    display: flex;
    justify-content: center;
    background-color: red;
    /* position: absolute; */
    bottom: 0;
    /* left: 0; */
    width: 200px;
    right: 0;
}

.mouse img{
    width: 100px;
    height: 150px;
}



@keyframes animacaoVerde {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(180deg);}
    100% {transform:rotate(0deg);}
}

@keyframes isBouncing{
    to{
        transform: translateY(10px);
    }

    /* from  {
        transform: translateY(10px)
    } */
}

@keyframes isBouncing2{
    to{
        transform: translateX(10px);
    }
}
